extends layout

block content
    h1= title
    
    if book_list && book_list.length > 0
        div.book-grid
            each book in book_list
                div.book-item
                    h3.book-title
                        a(href=book.url) #{book.title}
                    p.book-author 
                        strong Author: 
                        | #{book.author.name}
                    div.mt-3
                        a.btn.btn-primary(href=book.url) View Details
    else
        div.card
            div.card-header
                h3 📚 No Books Found
            p No books are currently available in the library. 
            p 
                a.btn.btn-success(href="/catalog/book/create") Add the first book to get started!
